# editor
.vscode/

# build artifacts
build/
**/build/
build-sc/
**/build-sc/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.log
.DS_Store

# SharedLib: chỉ giữ tarball ffmpeg (nếu bạn muốn)
SharedLib/**
!SharedLib/
!SharedLib/FFmpeg/
!SharedLib/FFmpeg/ffmpeg-4.4.4.tar.xz

# SharedLib_Pi: KHÔNG push sysroot/toolchain
SharedLib_Pi/
SharedLib_Pi/**

# nếu bạn muốn giữ deploy scripts nhỏ:
!SharedLib_Pi/deploy/
!SharedLib_Pi/deploy/**
