**/*.local/
**/*.remote/
**/*.ignore/
**/*.ignore
**/.vscode/
**/build/

# ---- SharedLib: ignore all, but allow only the FFmpeg tarball ----
SharedLib/**
!SharedLib/
!SharedLib/FFmpeg/
!SharedLib/FFmpeg/ffmpeg-4.4.4.tar.xz

# (khuyên) không push thư mục giải nén + build output
SharedLib/FFmpeg/ffmpeg-4.4.4/
SharedLib/FFmpeg/ffmpeg-build/

# ---- SharedLib_Pi: ignore all, but allow selected files ----
SharedLib_Pi/**
!SharedLib_Pi/
!SharedLib_Pi/CrossCompiler/
!SharedLib_Pi/CrossCompiler/README.md
!SharedLib_Pi/FFmpeg/
!SharedLib_Pi/FFmpeg/ffmpeg-4.4.4.tar.xz
!SharedLib_Pi/pi-sysroot/
!SharedLib_Pi/pi-sysroot/README.md
